.bg_hero{
    background-image: url(https://res.cloudinary.com/doio2uvsw/image/upload/v1676951167/world_simplified_static_photos/ws-hero-photo_ymgr26.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}