
.bg_wallpaper { 
    background: url(https://res.cloudinary.com/doio2uvsw/image/upload/v1677180646/world_simplified_static_photos/news_wallpaper_nznkmr.png) no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* filter: blur(6px); */
  }
